{% extends "base.html.twig" %}

{% block title %}
    Home Page |
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    {# {{ dump(data) }} #}

    <h2>
        {{ data.fName }}
    </h2>
    <h2>
        {{ data.lName }}
    </h2>

    <p>
        {{ data.age }}
    </p>

{% endblock %}