{% extends "base.html.twig" %}

{% block title %}
    Admin Article |
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <div>
            <h1 class="title text-center">Articles</h1>
        </div>
        <div class="row mt-4">
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="blog-card">
                        {% if article.imageName %}
                            <div class="blog-card-image">
                                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}">    
                            </div>
                        {% else %}
                            <div class="blog-card-image">
                                <img src="https://fakeimg.pl/200x100" alt="">
                            </div>
                        {% endif %}
                        <div class="blog-card-content">
                            <h2 class="blog-card-content-header">{{ article.title}}</h2>
                            <p class="blog-card-content-description">{{ article.content|striptags|slice(0, 150) ~ '...' }}</p>
                            <p><i class="far fa-calendar-alt"></i> {{ article.createdAt|format_datetime('full', 'none')}}</p>
                            {% if article.user is not null %}
                                <p class="text-muted mt-2">{{ article.user.fName }} {{ article.user.lName }}</p>
                            {% endif %}
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <a href="{{ path('admin.article.edit', {'id': article.id, 'slug': article.slug}) }}" class="btn btn-secondary">Modify</a>
                                </div>
                                <div class="col-md-6">
                                    <form method="POST" action="{{ path('admin.article.delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                        <button class="btn btn-primary">(╯°□°）╯︵ 🎁 <i class="far fa-trash-alt"></i></button>                                       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="{{path('admin.article.new')}}" class="btn btn-secondary">Add a new one</a>
        </div>
    </section>
{% endblock %}